<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vegito">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/vegitoicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.SplashScreen.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginScreen.LoginScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/notitle"></activity>
        <activity
            android:name=".activity.NavigationDrawerActivity.HomePage"
            android:screenOrientation="portrait"
            android:theme="@style/notitle"></activity>
        <activity
            android:name=".activity.ResetPassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/notitle"></activity>
        <activity
            android:name=".activity.CreateAccountActivity.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/notitle"></activity>

        <activity
            android:name=".activity.MerchantActivity.MerchantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/notitle"></activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_S26BafwxfW990Q" />
    </application>

</manifest>